<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>nellow</title>
  <link rel="manifest" href="/manifest.webmanifest" />
  <script async src="https://cdn.jsdelivr.net/npm/pwacompat@2.0.7/pwacompat.min.js" integrity="sha384-ptgwb3/v69WGur7IwSnWOowVxE7hcRB3DG/EiHdejrw2sFNwUHynFbiRMPxc4hdS" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="/index.css">
  <link rel="shortcut icon" type="image/png" href="/icon-128.png">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="x5-orientation" content="portrait">
  <meta name="screen-orientation" content="portrait">
  <meta name="x5-page-mode" content="app">
  <meta name="browsermode" content="application">
</head>
<body>
  <div id="app"></div>
  <script src="/bundle.js"></script>
</body>
</html>
