body, html {
  width: 100%;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.app-container {
  width: 100%;
  height: 100vh;
}
.app-container.sleep {
  background-color: rgba(47,51,55);
}
.app-container.stayup {
  background-color: white;
}

.wakeup-sleep-button {
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 100;
  display: none;
}
.wakeup-sleep-button.status-sleep {
  background-color: orange;
}
.wakeup-sleep-button.status-stayup {
  background-color: rgba(47,51,55);
  color: white;
}

header {
  width: 100%;
  position: relative;
}
header .back-button {
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
header .back-button i {
  font-size: 20px;
}
header h1 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  line-height: 7vh;
  font-size: 24px;
  padding: 10px 0;
}

/* stayup */
.stayup-container {
  width: 100%;
  height: calc(93vh - 20px);
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 5% 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stayup-container .head-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stayup-container .head-content .names {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
.stayup-container .head-content .names .name {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #212121;
  margin-bottom: 5px;
}
.stayup-container .head-content .names .nellow-id {
  font-size: 0.9rem;
  color: #424242;
}
.stayup-container .icon {
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.stayup-container .icon img {
  display: block;
  width: 100%;
}
.stayup-container .main-content {
  width: 100%;
  margin: 10px 0;
}
.stayup-container .main-content .amount-title {
  text-align: center;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}
.stayup-container .main-content .amount {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
}
.stayup-container .main-content .description {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: #424242;
  font-family: 'Lato', sans-serif;
}
.stayup-container .main-content .amount span {
  font-size: 3rem;
  font-weight: bold;
}
.stayup-container .main-content .sales-manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  background-color: orange;
  padding: 10px;
  border-radius: 4px;
  /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); */
}
.stayup-container .main-content .sales-manage .icon-wrapper {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 5px;
}
.stayup-container .main-content .sales-manage .icon-wrapper i {
  color: white;
}
.stayup-container .main-content .sales-manage p {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.stayup-container .main-content .other-manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  background-color: #E65100;
  padding: 10px;
  border-radius: 4px;
  /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); */
}
.stayup-container .main-content .other-manage .icon-wrapper {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 5px;
}
.stayup-container .main-content .other-manage .icon-wrapper i {
  color: white;
  font-size: 22px;
}
.stayup-container .main-content .other-manage p {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.9rem;
}
.stayup-container .main-content .setting-content {
  margin: 50px 0;
  width: 100%;
}
.stayup-container .main-content .setting-content .setting-top-contaienr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
.stayup-container .main-content .setting-content .setting-bottom-contaienr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.stayup-container .main-content .user-manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  background-color: #545452;
  padding: 10px;
  border-radius: 4px;
  /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); */
}
.stayup-container .main-content .user-manage .icon-wrapper {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 5px;
}
.stayup-container .main-content .user-manage .icon-wrapper i {
  color: white;
}
.stayup-container .main-content .user-manage p {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.9rem;
}
.stayup-container .main-content .twitter-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  background-color: #1c94e0;
  padding: 10px;
  border-radius: 4px;
  /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); */
}
.stayup-container .main-content .twitter-share.disabled {
  background-color: #D3D3D3;
}
.stayup-container .main-content .twitter-share .icon-wrapper {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 5px;
}
.stayup-container .main-content .twitter-share .icon-wrapper i {
  color: white;
  font-size: 24px;
}
.stayup-container .main-content .twitter-share p {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

/* sleep */
.sleep-container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #003149;
  color: white;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 5px;
}

/* bank */
.bank-container {
  margin-bottom: 100px;
}
.bank-container .main-content {
  width: 100%;
  margin: 30px 0;
}
.bank-container .main-content .amount-title {
  text-align: center;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}
.bank-container .main-content .amount {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  letter-spacing: 1.4px;
}
.bank-container .main-content .description {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: #424242;
  font-family: 'Lato', sans-serif;
}
.bank-container .main-content .amount span {
  font-size: 3rem;
  font-weight: bold;
}
.bank-container .withdraw {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  outline: none;
  border: 0;
  width: 120px;
  height: 40px;
  line-height: 40px;
  display: block;
  margin: 0 auto;
  color: white;
  background-color: #212121;
  border-radius: 5px;
}
.bank-container .bank-setting {
  width: 100%;
  margin-top: 50px;
}
.bank-container .bank-setting ul {
  width: 90%;
  margin: 0 auto;
}
.bank-container .bank-setting ul li {
  display: flex;
  padding: 15px 10px;
  justify-content: space-between;
}
.bank-container .bank-setting ul li p {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.bank-container .bank-setting ul li input {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  border: 0;
  letter-spacing: 2px;
}
.bank-container .save {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  outline: none;
  border: 0;
  width: 70%;
  height: 40px;
  line-height: 40px;
  display: block;
  color: white;
  background-color: #212121;
  border-radius: 5px;
  margin: 30px auto;
}
.bank-container .withdraw:disabled {
  opacity: 0.3;
}
.bank-container .save:disabled {
  opacity: 0.3;
}

.shadow {
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}
.shadow.active {
  display: block;
  animation: fadeIn 0.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.edit-view-container {
  z-index: 99999;
  position: absolute;
  bottom: -55vh;
  left: 0;
  background-color: white;
  width: 100%;
  height: 55vh;
  overflow: hidden;
  border-top-left-radius : 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius : 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  transition: all 0.2s;
}
.edit-view-container.active {
  bottom: 0;
}
.edit-view-container .actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-view-container .actions button {
  display: block;
  width: 90%;
  padding: 15px 5px;
  border: 0;
  outline: none;
  margin: 5px 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}
.edit-view-container .actions .cancel {
  border-radius: 40px;
  background-color: #E0E0E0;
}
.edit-view-container .service-list {
  width: 90%;
  margin: 20px auto;
}
.edit-view-container .service-list li {
  display: flex;
  align-items: center;
  padding: 10px;
}
.edit-view-container .service-list li .img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-view-container .service-list li .img img {
  display: block;
  width: 100%;
}
.edit-view-container .service-list li p {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #212121;
  letter-spacing: 1.2px;
}
.settings-container {
  width: 100%;
  height: calc(93vh - 20px);
  background-color: #fafafa;
}
.settings-container .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.settings-container .main-content .icon {
  width: 150px;
  height: 150px;
  position: relative;
}
.settings-container .main-content .icon img {
  display: block;
  width: 100%;
  border-radius: 50%;
}
.settings-container .main-content .icon .camera-icon {
  position: absolute;
  bottom: 5px;
  right: 0px;
  background-color: #29B6F6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.settings-container .main-content .icon i {
  font-size: 18px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-45%) translateY(-55%);
}
.settings-container .main-content .input-area {
  width: 100%;
  margin-top: 30px;
}
.settings-container .main-content .input-area p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-indent: 10px;
  margin-bottom: 5px;
}
.settings-container .main-content .input-area {
  width: 100%;
  position: relative;
}
.settings-container .main-content .input-area i {
  position: absolute;
  bottom: 17px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: gray;
}
.settings-container .main-content .input-area input {
  display: block;
  border: 0;
  outline: none;
  width: 100%;
  padding: 15px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}
.settings-container .actions {
  display: flex;
  width: 100%;
  margin: 50px 0;
  justify-content: center;
}
.settings-container .actions button {
  display: block;
  border: 0;
  outline: none;
  color: white;
  width: 40%;
  padding: 10px;
  border-radius: 50px;
  margin: 0 10px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
}
.settings-container .actions button.cancel {
  background-color: #E0E0E0;
}
.settings-container .actions button.save {
  background-color: #29B6F6;
}